h1{
    text-align:center;
    color:black;
}

table, tr {
    border: 1px solid black;
    align-content: center;
 }
 #contact{
    background-color: skyblue;
 }
 
table {
    margin-left: auto; 
    margin-right: auto;
  }
 input{
     height:25px;
 }
 #msg{
     height:50px;
 }
 #mag{
     color: white;
     background-color: red;
     margin-left: 100px;
     margin-right:100px;
     width:90%;
 }
 #maga{
    margin-left: 50px;
    margin-right:50px;
    width:90%;
    border:5px solid black; 
    height:600px;
 }
 #hr{
     display: inline-block;
     width:40%;
     white-space: nowrap;
 }
 #name{
     display: inline-block;
 }
 .flex-container {
    margin: 10px;
    padding: 1px;
   
    width: 50%;
    display: flex;
    flex-direction: row;
  }
  label{
      display: inline-flexbox;
    display: flex;
    flex-direction: row;
  }
  h3{
      text-align: center;
  }
  th,td{
    border: 1px solid black;
    }
